.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
}

html{
	font-family: 'Noto Sans', sans-serif;
	margin:0; padding:0;
	color:black;
/*height:10000px;*/
}
body{
	font-family: 'Noto Sans', sans-serif;
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	width: 100%;
	max-width:940px;
	margin:auto;

}


nav{
	text-align: right;
	height:auto;
	padding-bottom:96px;
	padding-top:64px;

/*  box-shadow: 0px 2px 9px #EAF5FC;*/

}

.leftnav{
	float: left;
	width: 50%;

	text-align: left;
}

.leftnav:hover{
	
	transition: padding-right 0.4s ease-in-out;
	color:#96BEFF;
}


footer{
	font-size: 14px;
	color: #9A9FA2;
	height: 64px;
	margin-top: 64px;
}
.navlink{
	color:#9A9FA2;
	padding-left:16px;
}
.back{
	padding-left:0px;
}
.footerlink{
	font-size: 14px;
	color: #9A9FA2;
	padding-left:16px;
}

.active{
	color:black;
}

.right{
	text-align: right;
	width: 50%;
}

.column{
	float:left;
	width: 50%;
}

.colstudy{
	padding-top: 16px;
	font-size: 16px;
	padding-right:10px;
	float: left;
	width:40%;
	font-weight: 500;

	text-align: right;

}
/*nav ends here*/

/*summary at top of page*/

.summaryinfo{
	width: 100%;
	margin-bottom:64px;
}

.summaryinfo:after{
  Content: "";
  display: table;
  clear:both;
}

.summaryleft{
	float: left;
	width:45%;
	padding-right:64px;
	box-sizing: border-box;

}
.summaryright{
	float: left;
	width:55%;
	box-sizing: border-box;

}

.title{
	font-size: 32px;
	font-weight: 700;
	color:#021018;
	margin-bottom:24px;
}

.date{
	font-size: 14px;
	font-weight: 500;
	color: rgb(100,100,100);
	margin-bottom: 8px;
}
.range{
	font-size: 15px;
	color;#021018;
	font-weight: 700;

}

.hook{
	font-size: 16px;
	font-weight: 600;
	color:#646464;
}

/*new text block under here*/

.blurblol{
	padding-top:64px;
}
.textheader{
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  width:75%;
  margin:auto;
  margin-bottom: 16px;
  border-left-style: solid ;
  border-left-color: #96BEFF ;
  border-left-width: 3px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  padding-left: 8px;
}
.textblock{
  font-family: 'Tinos', serif;
  font-size: 20px;
  text-align: left;
  margin-bottom: 16px;
  font-weight: 500;
  width:75%;
  margin:auto;
  margin-bottom: 64px;
  


}

/*old new stuff below this ==========*/

.blurblol{
	padding-top:64px;
}
.textheader{
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  width:75%;
  margin:auto;
  margin-bottom: 16px;
  border-left-style: solid ;
  border-left-color: #96BEFF ;
  border-left-width: 3px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  padding-left: 8px;
}
.textblock{
  font-family: 'Tinos', serif;
  font-size: 20px;
  text-align: left;
  margin-bottom: 16px;
  font-weight: 500;
  width:75%;
  margin:auto;
  margin-bottom: 64px;
  


}


.projectcontent{
	margin-top:24px;
	margin-bottom: 64px;
	
	

}


.smalltitle{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	color: white;
	margin-bottom:24px;
	margin-top: 0px;
}


.intropic{
	width:100%;

}

.intropic2{
	box-sizing: border-box;
	width:100%;
	height:auto;
	border-radius: 8px;
}







.first{
	
	margin-top:32px;
}


.introtextquote{
	font-weight:400;
	font-size: 14px;
	margin-bottom:32px;
}
.introtextsmall{
	
	margin-top:16px;
	font-weight:300;
	font-size: 12px;
	/*color:#000000;*/
	color:white;
}

.introtextmedium{
	margin-top:16px;
	font-weight:400;
	font-size: 24px;
	margin-bottom:8px;
	font-style: italic;
}

.introtextbold{
	margin-top:16px;
	font-weight:600;
	font-size: 24px;
}


.thumbnail{
	box-sizing: border-box;
	width:100%;
	height:auto;
	/*background-color:grey;*/
}
.thumbnailsmaller{
	box-sizing: border-box;
	width:80%;
	height:auto;
	/*background-color:grey;*/
}
.sectionhead{

	margin-top:100px;
/*	font-family: 'times', serif;*/
font-size: 32px;
font-weight: 400;
text-align: center;
margin-bottom:50px;

}
.emphasis{
/*	color:#71A7FF;*/
font-weight: 600;
}
.subsectionhead{
	font-size: 15px;
	c/*olor:black;*/
	color:white;
	margin-top:15px;
}
.columnholder{

}


a{
	text-decoration: none;
}
.projtitle:hover{
	color:#8DAFC4;
}


/*Hamburger below*/
a
{
	text-decoration: none;
/*  color: black;*/
/*color:#92ACC3;*/
color:black;
transition: color 0.3s ease;
}

a:hover{
	color:#96BEFF;
}


/*dimming images on dark mode below*/
@media (prefers-color-scheme: dark) {
  html{
    background-color: #333333;
    color:white;
  }
  .projtitle{
    color:white;
  }

/*  BELOW: Darken images for dark screen*/
img {
  opacity: .75;
  transition: opacity .5s ease-in-out;
}
img:hover {
  opacity: 1;
}





@media only screen  and (max-width : 1224px) {
	body{
		width:90%;
	}
	.projectcontent{
		/*margin:auto;*/
	}

	.introtext{

		margin-top:16px;
		font-weight:400;
		font-size: 10px;
		/*color:#000000;*/

	}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	/* Styles */

	.introtext{

		margin-top:16px;
		font-weight:400;
		font-size: 10px;
		/*color:#000000;*/

	}
}

@media only screen and (max-width : 320px) {

}