.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.kailen{
	font-size: 24px;
	color:black;
	/*color:#8DAFC4;*/
	font-weight:400;
	text-align: left;
}

.kailen:hover{
	color:black;
}
}
.title{
	font-size: 32px;
}
html{
	font-family: 'Jost', sans-serif;
	margin:0; padding:0;

/*	background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);*/
/*	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);*/
/*background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);*/
background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background-blend-mode: screen;
-moz-appearance: none;
appearance: none;
color:black;
/*height:10000px;*/
}
body{
	font-family: 'Jost', sans-serif;
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	width: 100%;
	max-width:1000px;
	margin:auto;

}
nav{
	height:auto;
	position:fixed;
	top:0;
	width: 1000px;

	padding-bottom:16px;
	padding-left: 16px;
	padding-right:16px;
	text-align: center;
	padding-top:16px;
	text-align: left;
	box-sizing: border-box;
/*	box-shadow: 0px 2px 9px #EAF5FC;*/
}


nav a {
	display: block;
	width:auto;
	opacity: 25%;

}
nav a:hover{
	opacity:100%;


}
.nav-left{
	float: left;
}

.nav-right{
	float: right;
}

.homerun{
	float:left;

}

.resume{
	float: right;
}



/*new stuff below this ==========*/

.catchphrase{
	margin-top:100px;
/*	font-family: 'times', serif;*/
font-size: 48px;
font-weight: 400;
text-align: center;
margin-bottom:100px;
}

.textborder{
	margin-top: 56px;
	border-style: solid;
	border-width: 4px;
	border-color: #D1E0FF;
	padding-left:120px;
	padding-right:120px;
	padding-top:80px;
	padding-bottom:80px;
	margin-bottom:56px;
}

.introtext{
	
	margin-top:16px;
	font-weight:400;
	font-size: 20px;
	/*color:#000000;*/

}

.introtextbig{
	margin-top:16px;
	font-weight:400;
	font-size: 32px;
	margin-bottom:8px;
}

.projectcontent{
	margin-top:24px;
	
	

}


.smalltitle{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	color: white;
	margin-bottom:24px;
	margin-top: 0px;
}


.intropic{
	width:100%;
}

.summary{
	margin-top: 56px;
	padding-left:120px;
	padding-right:120px;
	padding-top:80px;
	padding-bottom:0px;
	margin-bottom:56px;
	background-color: #B1CEFE;
	overflow: hidden;
	

	margin-bottom: 24px;
	
}

.sumcol{
	float:left;
	width: 33.3%;
	box-sizing: border-box;
	margin-bottom: 48px;
	padding:16px;

	
}
.sumtext{
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	color:white;
}



.intropic2{
	box-sizing: border-box;
	width:100%;
	height:auto;
}


.first{
	
	margin-top:32px;
}


.introtextquote{
	font-weight:400;
	font-size: 14px;
	margin-bottom:32px;
}
.introtextsmall{
	
	margin-top:16px;
	font-weight:300;
	font-size: 12px;
	/*color:#000000;*/
	color:white;
}

.introtextmedium{
	margin-top:16px;
	font-weight:400;
	font-size: 24px;
	margin-bottom:8px;
	font-style: italic;
}

.introtextbold{
	margin-top:16px;
	font-weight:600;
	font-size: 24px;
}


.thumbnail{
	box-sizing: border-box;
	width:100%;
	height:auto;
	/*background-color:grey;*/
}
.thumbnailsmaller{
	box-sizing: border-box;
	width:80%;
	height:auto;
	/*background-color:grey;*/
}
.sectionhead{

	margin-top:100px;
/*	font-family: 'times', serif;*/
font-size: 32px;
font-weight: 400;
text-align: center;
margin-bottom:50px;

}
.emphasis{
/*	color:#71A7FF;*/
font-weight: 600;
}
.subsectionhead{
	font-size: 15px;
	c/*olor:black;*/
	color:white;
	margin-top:15px;
}
.columnholder{

}
.column
float: left;
width:50%;
}

a{
	text-decoration: none;
}
.projtitle:hover{
	color:#8DAFC4;
}


/*Hamburger below*/
a
{
	text-decoration: none;
/*  color: black;*/
/*color:#92ACC3;*/
color:black;
transition: color 0.3s ease;
}

a:hover
{
	color:#6320EE;
}


.linkout{
	color:#2967E7;
	font-weight: 500;
}



@media only screen  and (max-width : 1224px) {
	body{
		width:90%;
	}
	.projectcontent{
		/*margin:auto;*/
	}

	.introtext{

		margin-top:16px;
		font-weight:400;
		font-size: 10px;
		/*color:#000000;*/

	}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	/* Styles */

	.introtext{

		margin-top:16px;
		font-weight:400;
		font-size: 10px;
		/*color:#000000;*/

	}
}

@media only screen and (max-width : 320px) {

}